<br>
<div class="container-fluid" tabindex="0">
  <div class="container-fluid">
    <button type="submit" class="btn btn-success mb-3" data-bs-toggle="modal"
      data-bs-target="#modalAddProduto">Cadastrar</button>
  </div>
  <hr>
  <!-- <div class="container-fluid">
  <form class=" container container-fluid row g-3">
    <div class="col-auto">
      <label for="nome">Nome</label>
      <input type="text" readonly class="form-control" id="nome">
    </div><br>
    <div class="col-auto">
      <label for="descricao">Descrição</label>
      <input type="text" readonly class="form-control" id="descricao">
    </div><br>
    <div class="col-auto">
      <label for="valor">Valor</label>
      <input type="number" class="form-control" id="valor">
    </div><br>
    <div class="col-auto">
      <label for="estoque">Estoque</label>
      <input type="number" readonly class="form-control" id="estoque">
    </div><br>
    <div class="row-auto">
      <button type="submit" class="btn btn-primary mb-3">Enviar</button>
    </div>
  </form>
</div>
<hr> -->
  <div class="container-fluid">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Função</th>
          <th scope="col">Valor</th>
          <th scope="col">Estoque</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td class="col-3">Paracetamol</td>
          <td class="col-4">Analgésico</td>
          <td>R$ 5,00</td>
          <td>10</td>
          <td>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar com grupos de botões">
              <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-primary" style="margin: 2px;" data-bs-toggle="modal"
                  data-bs-target="#modalViewProduto"><i class="fa-solid fa-eye"></i></button>
                <button type="button" class="btn btn-warning" style="margin: 2px;" data-bs-toggle="modal"
                  data-bs-target="#modalEditProduto"><i class="fa-solid fa-pen-to-square"></i></button>
                <button type="button" class="btn btn-danger" style="margin: 2px;" data-bs-toggle="modal"
                  data-bs-target="#modalDeleteProduto"><i class="fa-solid fa-trash-can"></i></button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modais -->
<!-- Modal Adicionar Produto -->
<div class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" id="modalAddProduto">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cadastrar Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class=" container container-fluid row g-3">
          <div class="col-auto">
            <label for="nome">Nome</label>
            <input type="text" readonly class="form-control" id="nome">
          </div><br>
          <div class="col-auto">
            <label for="descricao">Tipo</label>
            <input type="text" readonly class="form-control" id="descricao">
          </div><br>
          <div class="col-auto">
            <label for="descricao">Descrição</label>
            <input type="text" readonly class="form-control" id="descricao">
          </div><br>
          <div class="col-auto">
            <label for="descricao">Composição</label>
            <input type="text" readonly class="form-control" id="descricao">
          </div><br>
          <div class="col-auto">
            <label for="valor">Valor</label>
            <input type="number" class="form-control" id="valor">
          </div><br>
          <div class="col-auto">
            <label for="estoque">Estoque</label>
            <input type="number" readonly class="form-control" id="estoque">
          </div><br>
          <div class="row-auto">
            <button type="submit" class="btn btn-primary mb-3">Enviar</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Salvar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Visualizar Produto -->
<div class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" id="modalViewProduto">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informações do Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <p><b>Nome:</b> Paracetamol</p>
          <p><b>Tipo:</b> Analgésico</p>
          <p><b>Descrição:</b> Paracetamol é um analgésico e antipirético, sendo indicado para a alívio da dor de
            intensidade leve a moderada, incluindo dor de cabeça, enxaqueca, dor músculo esquelética, cólicas
            menstruais, dor de garganta, dor de dente, dor pós-procedimentos odontológicos, dor e febre após vacinação,
            e dor de osteoartrite.</p>
          <p><b>Composição:</b>Povidona, Amidoglicolato de Sódio, Amido, Ácido Esteárico, Álcool Polivinílico, Macrogol,
            Talco e Dióxido de Titânio.</p>
          <p><b>Valor:</b> R$ 5,00</p>
          <p><b>Estoque:</b> 10</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Produto -->
<div class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" id="modalEditProduto">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class=" container container-fluid row g-3">
          <div class="col-auto">
            <label for="nome">Nome</label>
            <input type="text" readonly class="form-control" id="nome">
          </div><br>
          <div class="col-auto">
            <label for="descricao">Tipo</label>
            <input type="text" readonly class="form-control" id="descricao">
          </div><br>
          <div class="col-auto">
            <label for="descricao">Descrição</label>
            <input type="text" readonly class="form-control" id="descricao">
          </div><br>
          <div class="col-auto">
            <label for="descricao">Composição</label>
            <input type="text" readonly class="form-control" id="descricao">
          </div><br>
          <div class="col-auto">
            <label for="valor">Valor</label>
            <input type="number" class="form-control" id="valor">
          </div><br>
          <div class="col-auto">
            <label for="estoque">Estoque</label>
            <input type="number" readonly class="form-control" id="estoque">
          </div><br>
          <div class="row-auto">
            <button type="submit" class="btn btn-primary mb-3">Enviar</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Salvar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Excluir Produto -->
<div class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" id="modalDeleteProduto">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Excluir Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja excluir esse produto?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Excluir</button>
      </div>
    </div>
  </div>
</div>